.btn {

  &:link,
  &:visited {
    color: #fff;
    padding: 1.2rem 3rem;
    border-radius: 4rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    transition: all .2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(black, 0.2);
  }

  &--teal {
    background-color: $primary-color;
    margin-right: 2rem;
  }

  &--blue {
    background-color: $secondary-color;
  }
}