.feature-one,
.feature-two,
.feature-three {
  padding: 4rem 0;
}

// Feature 1
.feature-one {

  &__content {
    display: flex;
    margin: 6rem 0;
  }

  &__image-box {
    position: relative;
    left: -4rem;
  }

  &__items {
    max-width: 40rem;
    padding: 5rem;
    margin-left: 3rem;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }
}

// Feature 2
.feature-two {
  text-align: center;

  &__image-box {
    margin-top: 7rem;
  }

  &__image {
    width: 90%;
  }
}

// Feature 3
.feature-three {

  &__boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    text-align: center;
  }

  &__box {
    width: 33%;
    padding: 0 2rem;
  }
}

// Clients Section
.clients-section {
  padding: 6rem 0;

  &__clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
  }

  &__client-box {
    padding: 3rem 2rem;
  }
}

// Download Section
.download-section {
  padding: 6rem 0 12rem 0;

  &__buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}


