// Colors
$primary-color: hsl(171, 66%, 44%);
$secondary-color: hsl(233, 100%, 69%);

$light-grey: hsl(201, 11%, 66%);
$dark-grey: hsl(210, 10%, 33%);

// Fonts
$primary-font: 'Bai Jamjuree', sans-serif;

